
.input-form-field:focus{
    border: none;
}
.info-section{
    background-color: #edeaea !important;
    padding: 5% 0%;
}

.test-section {
    padding: 5% 0%;
}

.card-container {
    padding: 0 2%;
}

.test-image {
    border-radius: 50px;
}
.test-card{
    background-color: #edeaea !important;
    border-radius: 5%;
    padding: 2%;
    box-shadow: 0px 0px 10px #cfcfcf;
    width: 18%;
}

.button-container {
    margin-top: 2%;
}

.category-card {
    width: 20%;
}

.catoegory-icon {
    width: 100%;
}


@media screen and (max-width: 767px) {
    .test-card {
        width: 100%;
        margin-bottom: 5%;
        padding: 0%;
    }
    .card-contents {
        padding: 4%;
    }
    .button-container {
        margin-bottom: 5%;
    }
    .category-card {
        width: 100%;
        margin-bottom: 5%;
    }
    .catoegory-icon {
        width: 25%;
        margin: 0 auto;
    }
}