.basics{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.flex-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box
{
    position: relative;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 30px 60px rgba (0,0,0,0.2);
}
.box .percent{
    position: relative;
    width: 150px;
    height: auto;
}

.box .percent svg{
    position: relative;
    width: 150px;
    height: auto;
}


.box .percent svg circle{
    width: 150px;
    height: auto;
    fill:none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;

}
.box .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*87) / 100);
    stroke: #f5bf3b;
}
.box .percent svg circle:nth-child(3){
    stroke-dashoffset: calc(440 - (440*78) / 100);
    stroke: #8cc63e;
}
.box .percent .number{
    position: absolute;
    top: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #111;
}

.box .percent .number h2{
    font-size: 40px;
}

.box .percent .number h2 span{
    font-size: 20px;
}

.box .text{
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
}